{% extends "stock/base.html" %} 
{% load stock_tags %}
{% block title %}My Blog{% endblock %} 
{% block card_title %}Apple Inc Stock{% endblock %}
{% block content %}


<div id="container" style="width: 30%">
    <canvas id="myChart" width="100" height="100"></canvas>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h6 class="text-secondary">{{symbol}} Price﻿</h6>
            <h4>{{ price|millify|add_ch:'$' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">Fair Value Price</h6>
            <h4>{{ fairValuePrice|millify|add_ch:'$' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">Market Cap﻿</h6>
            <h4>{{ marketCap|millify|add_ch:'$' }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 class="text-secondary">52 Week Low</h6>
            <h4>{{ 52WeekL|millify|add_ch:'$' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">52 Week High</h6>
            <h4>{{ 52WeekH|millify|add_ch:'$' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">P/E</h6>
            <h4>{{ PE|floatformat:2|add_ch_end:'x' }}</h4>
        </div>      
    </div>
    <div class="row">
        <div class="col-4">
            <h6 class="text-secondary">P/B</h6>
            <h4>{{ PB|floatformat:2|add_ch_end:'x' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">P/S</h6>
            <h4>{{ PS|floatformat:2|add_ch_end:'x' }}</h4>
        </div> 
        <div class="col-4">
            <h6 class="text-secondary">PEG</h6>
            <h4>{{ PEG|floatformat:2|add_ch_end:'x' }}</h4>
        </div>     
    </div>
    <div class="row">
        <div class="col-4">
            <h6 class="text-secondary">Dividend Yield</h6>
            <h4>{{ DividendYield|percentage }}</h4>
        </div> 
        <div class="col-4">
            <h6 class="text-secondary">Revenue</h6>
            <h4>{{ Revenue|millify|add_ch:'$' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">Earnings</h6>
            <h4>{{ earning|millify|add_ch:'$' }}</h4>
        </div>  
    </div>
    <div class="row">
        <div class="col-4">
            <h6 class="text-secondary">Gross Margin</h6>
            <h4>{{ GrossMargin|percentage }}</h4>
        </div> 
        <div class="col-4">
            <h6 class="text-secondary">Operating Margin</h6>
            <h4>{{ OperatingMargin|percentage }}</h4>
        </div>
         <div class="col-4">
            <h6 class="text-secondary">Profit Margin</h6>
            <h4>{{ ProfitMargin|percentage }}</h4>
        </div> 
    </div>
    <div class="row">
        <div class="col-4">
            <h6 class="text-secondary">Debt to Equity</h6>
            <h4>{{ DebtEquity|floatformat:2 }}</h4>
        </div> 
        <div class="col-4">
            <h6 class="text-secondary">Operating Cash Flow</h6>
            <h4>{{ cashFlow|millify|add_ch:'$' }}</h4>
        </div>
        <div class="col-4">
            <h6 class="text-secondary">Beta</h6>
            <h4>{{ Beta|floatformat:2 }}</h4>
        </div> 
    </div>

</div>



{% endblock %}
